# shapefiles
*.cpg
*.dbf
*.prj
*.shp
*.sbn
*.xml
*.shx
*.sbx

# database dumpfiles 
*.dat
*.dat.gz
*.gz
*.dat

# archives
.zip
.tar
.tar.gz
.tar.bz2
.rar
.7z
.gz 

# common binaries
*.xlsx
*.xls
*.doc
*.docx
*.ppt
*.pptx
*.sqlite
*.db
*.ddb
*.parquet

# mac files
.DS_Store

# python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints/
